/** colors */

@include add-color((
	1: (
		base: #ffb81d,
		shade: (
			1: shade(#ffb81d, 20%),
			2: shade(#ffb81d, 40%),
			3: shade(#ffb81d, 60%),
			4: shade(#ffb81d, 80%)
		),
		tint: (
			1: tint(#ffb81d, 10%),
			2: tint(#ffb81d, 20%),
			3: tint(#ffb81d, 30%),
			4: tint(#ffb81d, 40%)
		)
	),

	2: (
		base: #60d1e0,
		shade: (
			1: shade(#60d1e0, 20%),
			2: shade(#60d1e0, 40%),
			3: shade(#60d1e0, 60%),
			4: shade(#60d1e0, 80%)
		),
		tint: (
			1: tint(#60d1e0, 10%),
			2: tint(#60d1e0, 20%),
			3: tint(#60d1e0, 30%),
			4: tint(#60d1e0, 40%),
			5: tint(#60d1e0, 60%),
			6: tint(#60d1e0, 80%)
		)
	),

	3: (
		base: #185a7d,
		shade: (
			1: shade(#185a7d, 20%),
			2: shade(#185a7d, 40%),
			3: shade(#185a7d, 60%),
			4: shade(#185a7d, 80%)
		),
		tint: (
			1: tint(#185a7d, 10%),
			2: tint(#185a7d, 20%),
			3: tint(#185a7d, 30%),
			4: tint(#185a7d, 40%)
		)
	),

	4: (
		base: #3f2b56,
		shade: (
			1: shade(#3f2b56, 20%),
			2: shade(#3f2b56, 40%),
			3: shade(#3f2b56, 60%),
			4: shade(#3f2b56, 80%)
		),
		tint: (
			1: tint(#3f2b56, 10%),
			2: tint(#3f2b56, 20%),
			3: tint(#3f2b56, 30%),
			4: tint(#3f2b56, 40%)
		)
	),

	5: (
		base: #3d3935,
		shade: (
			1: shade(#3d3935, 33%),
			2: shade(#3d3935, 66%),
			3: #000
		),
		tint: (
			1: tint(#3d3935, 20%),
			2: tint(#3d3935, 40%),
			3: tint(#3d3935, 60%),
			4: tint(#3d3935, 70%),
			5: tint(#3d3935, 80%),
			6: tint(#3d3935, 85%),
			7: tint(#3d3935, 90%),
			8: tint(#3d3935, 95%),
			9: #fff
		)
	)
));







/** color names */

@include add-color((
	text: color(5 shade 1),
	background: color(5 tint 9),
	primary-1: color(1),
	secondary-1: color(2),
	secondary-2: color(3),
	secondary-3: color(4),
	neutral: color(5)
));
