@import 'ash/ash';

.hide {
	animation: hide 1s ease-in 1 both;
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}



.root {
	position: fixed;
	left: 0;
	top: 28px;
	z-index: 5;
	
}

.root2 {
	position: fixed;
	left: 200px;
	top: 28px;
	z-index: 5;
	
}

.notifications {
	position: relative;

	list-style: none;
}

.notification {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  
  transition: all 1s ease-out;

	color: black;
	background-color: yellow;

	&:nth-child(even) {
		background-color: red;
	}

	&:nth-child(1) {
		transform: translateY(0%);
	}

	&:nth-child(2) {
		transform: translateY(100%);
	}

	&:nth-child(3) {
		transform: translateY(200%);
	}

	&:nth-child(4) {
		transform: translateY(300%);
	}

	&:nth-child(5) {
		transform: translateY(400%);
	}

	&:nth-child(6) {
		transform: translateY(500%);
	}

	&:nth-child(7) {
		transform: translateY(600%);
	}

	&:nth-child(8) {
		transform: translateY(700%);
	}

	&:nth-child(9) {
		transform: translateY(800%);
	}

	&:nth-child(10) {
		transform: translateY(900%);
	}
}
